nav{
    display: flex;
    justify-content:center;
    background-color: black;
    color: aliceblue;
    
}
.main-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.right-side{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    gap: 30px;
}
.Home{
    text-decoration: none;
    color: inherit;
    font-size: 2.5em;
    font-family:fantasy;
}
.links{
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#counter{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}