#root{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav{
    display: flex;
    justify-content:center;
    background-color: black;
    color: aliceblue;
    
}
.main-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.right-side{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    height: 10vh;
}
.Home{
    text-decoration: none;
    color: inherit;
    font-size: 2.5em;
    font-family:fantasy;
}
.links{
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.open-cart{
    height: 30px;
    width: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.products-container{
    position: relative;
    height: 100%;
}
#cart-container{
    display: none;
    overflow:auto;
    position: absolute;
    z-index: 2;
    height:100%;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(39, 37, 37);
    opacity: 0.8;
    flex-grow:2;
    justify-content: end;
    align-self: flex-end;
    float: left;
    transition: opacity 1s ease-out;
}
#cart-header{
    font-size: 3.0em;
    text-decoration: underline;
}
#cart{
    margin-top: 30vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items:center;
    width: 30vw;
    height: 100vh;
    border-radius: 15px;
    overflow: scroll;
}
#form-container{
    display: flex;
    width: 100%;
    justify-content:space-around;
}
#close-form{
    font-size: 4.0em;
    margin: 15px;
    display: flex;
    width: 5vw;
    height: 5vh;
    justify-self: end;
    cursor: pointer;
}

.game-name{
    font-size: 1.7em;
    font-family: sans-serif;
}