body{
    height:100%;
}

.game{
    box-shadow: 0 4px 8px 0 rgba(14, 13, 13, 0.2), 0 6px 20px 0 rgba(17, 15, 15, 0.2);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20vw;
    height: 10vh;
    text-align: center;

}
#image-container{
    height: 100%
}
#games{
    margin: 60px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

#products-container{
    position: relative;
    height: 100%;
}

.game-image{
    width: 20vw;
    height: 100%;
    border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -ms-border-radius: 25px 25px 0 0;
    -o-border-radius: 25px 25px 0 0;
}
#card-container{
    height: 100%;
    display: flex;
    justify-content: center;
}

button{
    width:10vw;
    height: 10vh;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 1.1em;
}
/*
#counter{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    right: 3%;
    top: 10%;
    color: white;
    background-color: rgb(16, 17, 17);
    width: 10vw;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
*/
#cart-container{
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(39, 37, 37);
    opacity: 0.8;
    flex-grow:1;
    justify-content: center;
}